/*  your css code here. If applicable */
body {
	background-color: rgb(204, 204, 204);
}
h1 {
	text-align: center;
}
.songs {
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
}
li {
	list-style-type: none
}
h2 {
	text-align: center;
	font-size: 20px
}
.enter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.vid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 540px;
	width: 500px;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
}
video {
	width: 95%;
	padding: 1px;
	background-color: rgb(255, 255, 255);
}

.songname {
	margin-left: 10px;
	font-size: 13px;
	align-self: flex-start;
}
audio {
	width: 95%;
	margin-left: 8px;
	height: 40px
}